:root {
    --secondary-text-color: #787A80;
    --primary-text-color: #424551;
    --title-text-color: #1E212C;
    --accent-color: #FF3F3A;
    --btn-gradient: linear-gradient(45deg, #FF3F3A 0%, #F75E05 100%);
    --secondary-bgn-color: #fedcd2;
    --footer-bgn-color: #1E212C;
    --gray-bgn-color: #F4F5F6;
    --white-bgn-color: #fff;
    --white-text-color: #fff;
    --gray-600: #9A9CA5;
}

body { 
    color: var(--primary-text-color);
    background-color: var(--white-bgn-color);
    font-family: 'Lato', sans-serif;
    font-weight: 400;
  }

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.link {
  text-decoration: none;
}

h1,h2,h3,h4,h5,h6,p {
  margin: 0;
}

img{
  display: block;
}

.container {
  width: 1260px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
  }

.section-pre-title {
margin-bottom: 8px;

color: var(--title-text-color);
font-size: 16px;
font-weight: 700;
line-height: 1.5;
letter-spacing: 1px;
text-transform: uppercase;
}

.section--title {
  color: var(--title-text-color);
font-size: 46px;;
font-weight: 900;
line-height: 1.3;
}
.typeone-link {
  color: var(--accent-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 3.25;
  letter-spacing: 0.5px;
  }
   
  .button {
    font-size: 16px;
    font-family: "Lato";
    font-weight: 700;
    line-height: 1.6;
    
    cursor: pointer;
    min-width: auto;
    }

                             /* HEDEER */ 
  .header-logo {
    margin-right: 60px;
  }                                                

.nav-flexbox {
  display: flex;
  align-items: center;

}
.flexbox {
  display: flex;
  align-items: center;
} 

.header-list { 
display: flex;
}

.header-list-item:not(:last-child){
  margin-right: 40px;
}
.header-list-link{
  padding-top: 16px;
  padding-bottom: 16px;
  
  color: var(--primary-text-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.6;
}
.header-list-link:hover,
.header-list-link:focus 
{
  color:var(--accent-color);
}
.link-box {
  display: flex;
  align-items: center;
}

.list-btn {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.consalt-btn {
display: inline-block;
padding: 0 40px;
border: 1px solid transparent;
border-radius: 4px;
margin-right: 36px;
margin-left: auto;

color: var(--white-text-color); 
background-image: var(--btn-gradient);
letter-spacing: 0.5px;
line-height: 3.25;  
}
.item-btn-list:nth-child(2) {
  display: flex;
  align-items: center;
}
.item-btn-svg {
 margin-right: 8px;
}
.header-btn{
  display: inline-block;
  border: none;
  background-color: inherit;
}
                              /* HERO */
.hero {
  margin-bottom: 180px;
  background-color: var(--secondary-bgn-color);
}

.hero-btn {
display: flex;
align-items: center;
margin-bottom: 55px;
border: none;
background-color: transparent;

font-size: 14px;
line-height: 1.5;
}
.hero-btn-svg {
  margin-right: 16px;
}
.hero-title {
margin-bottom: 60px;

color: var(--title-text-color);
font-size: 64px;
font-weight: 900;
line-height: 1.3;
letter-spacing: 1px;
}

.hero-link-about {
display: inline-block;
margin-right: 24px;
padding: 0 40px;
/* padding-left: 40px;
padding-right: 40px; */
border: 1px solid var(--accent-color);
border-radius: 4px;
}

.hero-link-courses {
  display: inline-block;
  border: 1px solid transparent;
  padding: 0 40px;
  /* padding-left: 40px;
  padding-right: 40px; */
  border-radius: 4px;

color: var(--white-text-color);
background-image: var(--btn-gradient);
font-size: 16px;
font-weight: 700;
line-height: 3.25;
letter-spacing: 0.5px;
}

.hero-img {
  margin-left: auto;
  margin-top: 128px;
  margin-bottom: 189px;

}


.hero-list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-text {
  display: flex;
  align-items: center;
}
.hero-text-number { 
  display: inline-block;
margin-right: 12px;

color:var(--title-text-color) ;
font-size: 46px;
  font-weight: 900;
  line-height: 1.3;
}

/* .hero-item:not(:last-child){
  margin-right: 140px;
} */
.hero-item-svg {
  margin-right: 66px;
  margin-left: 66px;
}

.hero-text {
color: var(--title-text-color);

font-size: 16px;
font-weight: 400;
line-height: 1.6;
}
                          /* WHY CREATEX */

.whycreatex-section {
  margin-bottom: 180px;
}

.whycreatex-position{
  margin-bottom: 40px;
}
.whycreatex-flexbox {
  display: flex;
}
.whycreatex-block {
  margin-left: 135px;
}
.whycreatex-list {
  margin-bottom: 48px;
}
.whycreatex-item {
  display: flex;
  
}
.whycreatex-item:not(:last-child){
  margin-bottom: 12px;
}

.whycreatex-svg {
  margin-right: 16px;
}
.whycreatex-text {
width: 358px;

font-size: 16px;
font-weight: 400;
line-height: 1.6;
}

.whycreatex-link {
display: inline-block;
border: 1px solid transparent;
border-radius: 4px;
padding: 0 32px;
/* padding-left: 32px;
padding-right: 32px; */

  color:var(--white-text-color);
  background-image: var(--btn-gradient);
font-size: 14px;
font-weight: 700;
line-height: 3.14;
letter-spacing: 0.5px;
}
                                                                /* FEATURED COURSES */
                                                                
.feature-section {
  margin-bottom: 180px;
}
.feature-position {
  margin-bottom: 60px;
}
.feature-link {
  display: inline-block;
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  padding: 0 40px;
  margin-left: auto;
}
.feature-list  {
  display: flex;
  flex-wrap: wrap;
}
.feature-item {
  border-radius: 4px;
  border: 1px solid  #E5E8ED;
  background: var(--white-bgn-color);
  width:600px;
  margin-right: 30px;
  margin-bottom: 30px;
  }

.feature-item:nth-child(2n) {
  margin-right: 0;
}
.feature-item:nth-last-child(-n + 2) {
  margin-bottom: 0;
}

.feature-img {
}
.profile-box {
  margin-left: 32px;
  padding-right: 32px;
}
.feature-subtitle {
display: inline-block;
border: 1px solid transparent;
border-radius: 4px;
margin-bottom: 20px;
padding: 0 8px;

color: var(--white-text-color);
font-size: 14px;
font-weight: 400;
line-height: 1.5;
}

.bgn-green {
  background-color: #03CEA4;
}
.bgn-blue {
  background-color:#5A87FC;
}
.bgn-orange{
  background-color:#F89828;
}
.bgn-red {background-color: #F52F6E;
}


.feature-item-title {
margin-bottom: 20px;

  color: var(--title-text-color);
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
}

.feature-text-accent {
  color: var(--accent-color);
  font-size: 18px;
font-weight: 700;
line-height: 1.5;
}

.feature-item-svg {
  margin-right: 8px;
  margin-left: 8px;
}
.feature-text {
  display: flex;
  align-items: center;
  color: var(--secondary-text-color);
  font-size: 18px;
font-weight: 400;
line-height: 1.5;
}                                                           
                                       /*BENEFITS */
.benefits-section {
  margin-bottom: 140.14px;
}                          
.benefits-position-pretitle {
  text-align: center;
}                                      
.benefits-position {
  margin-bottom: 60px;
  text-align: center;
}
.benefits-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 60px;
}

.benefits-link {
display: inline-block;
border: 1px solid transparent;
padding: 10px 75px;

  color: var(--gray-600);
  text-align: center;
  font-size: 16px;
font-weight: 700;
line-height: 1.6;
}
.benefits-link:hover,
.benefits-link:focus
 { 
  border-radius: 4px;
   border: 1px solid var(--accent-color);
   color: var(--accent-color);
}
.benefits-link-svg {
  margin-right: 8px;
  fill:currentColor;
}
.benefits-link:hover [
  benefits-link-svg:hover {
     fill: var(--accent-color);
  }
]
.benefits-pretitle {
  margin-bottom: 24px;
  color: var(--title-text-color);
  font-size: 32px;
font-weight: 900;
line-height: 1.3;
}
.benefits-text{
max-width: 495px;

  font-size: 16px;
font-weight: 400;
line-height: 1.6;

}
.benefits-img {
  margin-left: auto;
}
                                             /* EVENTS */
                                                                   

.events-section {
  background-color: var(--secondary-bgn-color);
  margin-bottom: 120px;
}

.events-pretitle-position {
  padding-top: 80px;
  text-align: center;
  
}
.events-position {
  padding-bottom: 60px;
  text-align: center;
}
.events-list {
  margin-bottom: 60px;
}

.events-item {
  display: flex;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: var(--white-bgn-color);
  padding: 32px 40px;
}
.events-item:not(:last-child) {
  margin-bottom: 24px;
}
.events-item-block{
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.events-item-text {
margin-right: 40px;

  color: var(--title-text-color);
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
}
.event-text-accent {
margin-right: 20px;

  color: var(--accent-color);

font-size: 48px;
font-weight: 900;
line-height: 1.3;
letter-spacing: 1px;
}
.events-item-time {
  color: var(--secondary-text-color);
  font-size: 16px;
  font-weight: 400;
line-height: 1.6;
}
.event-item-titleblock {
  margin-right: 40px;
}
.events-item-title {
  color: var(--title-text-color);
  font-size: 20px;
font-weight: 700;
line-height: 1.5;
}
.events-item-subtitle {
  color: var(--secondary-text-color);
  font-size: 16px;
font-weight: 400;
line-height: 1.6;
}
.events-item-link {
  display: inline-block;
  margin-bottom: auto;
  margin-left: auto;
border-radius: 4px;
border: 1px solid var(--accent-color);
padding: 0 32px;

  color: var(--accent-color);
  text-align: center;
font-size: 14px;
font-weight: 700;
line-height: 3.14;
letter-spacing: 0.5px;
}
.events-item-link:hover,
.events-item-link:focus {
  color:var(--white-text-color);
  background-image: var(--btn-gradient);
}
.events-subtitle-block {
  display: flex;
  justify-content:center ;
}
.events-subtitle {
  margin-right: 40px; 

  color: var(--title-text-color);
  font-size: 28px;;
  font-weight: 700;
  line-height: 1.5;
}
.events-link {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 0 40px;

  color:var(--white-text-color);
  background-image: var(--btn-gradient);
  

}
                                            /* CERTIFICATE */
.cert-section {
}

.cert-position {
  margin-bottom: 48px;
}
.cert-flexbox {
  display: flex;
}
.cert-text {
margin-bottom: 32px;

font-size: 16px;
font-weight: 400;
line-height: 1.6;
}

.cert-list {
  display:flex ;
}
.cert-item:not(:last-child) {
  margin-right: 40px;
}
.cert-img {
  margin-left: auto;
}
                                                                       /* TEAM */
.team-section {
  padding-top: 166px;
  padding-bottom: 160px;

  background-color: var(--gray-bgn-color);
}
.section-pre-title.padding {
  
}
.team-flexbox {
  display: flex;
}
.team-flexbox-rightmargin {
  margin-bottom: 60px;
}
.btn-flexbox {
  display: flex;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: 48px;
}
.team-btn {
  display: inline-block;
  cursor:pointer;

  border: 1px solid transparent;
  background: transparent;
  border-radius: 50%;
  padding: 12px;
  min-width: 48px;
  height: 48px;
}
.team-btn:hover,
.team-btn:focus {
  background-image: var(--btn-gradient);
}

.team-btn-svg:hover {
  fill:var(--white-text-color);
}
.team-btn-svg {
  fill:currentColor
}
.team-list {
  display: flex;
  margin-bottom: 180px;
}

.team-item:not(:last-child){
  margin-right: 30px;
}

.team-img {
  margin-bottom: 16px;
}

.team-item .link-flexbox {
  display: flex;
  justify-content: flex-end;
}

.team-item-link:not(:last-child) {
  margin-right: 12px;
}

.team-item-title {
margin-bottom: 4px;

color: var(--primary-text-color);
font-size: 20px;
font-weight: 700;
line-height: 1.5;
text-align: center;
}
.team-item-pretitle {
  color: var(--secondary-text-color);
font-size: 16px;
font-weight: 400;
line-height: 1.6;
text-align: center;
}


.response-subtitle {
  text-align: center;
}
.response-title {
  text-align: center;
  margin-bottom: 60px;
}
.article-flexbox {
  display: flex;
  align-items: center;
}
.response-artilce-block {
  border-radius: 4px;
  padding: 64px 105px;

  background-color: var(--white-bgn-color);
}

.response-list {
}
.response-item {
}

.response-text {
  font-size: 20px;
font-weight: 400;
line-height: 1.5;
}
.team-btn-left{
  margin-right: 69px;
}
.team-btn-right{
  margin-left: 69px;
}

.article-imgflexbox {
  display: flex;
  align-items: center;
  margin-top: 24px;
}
.response-img {
  margin-right: 20px;
}

.response-item-title {
  color: var(--title-text-color);
  font-size: 16px;
font-weight: 700;
line-height: 1.6;
}

.response-subject {
  color: var(--secondary-text-color);
  font-size: 14px;
font-weight: 400;
line-height: 1.5;
}
                                         /* BLOG */
 .blog-section {
  padding-top: 120px;
margin-bottom: 180px;}                                                                         
                            
  .blog-position {
  }
  .blog-flexbox {
    display: flex;
  }
.blog-link {
  display: inline-block;
border: 1px solid transparent;
border-radius: 4px;
margin-top: auto;
margin-left: auto;
padding: 0 40px;

  color: var(--white-text-color);
  background-image: var(--btn-gradient);
}

.blog-list {
  display: flex;
  margin-top: 60px;
}
.blog-item {
  display: block;
  max-width: 390px;
}
.blog-item:not(:last-child) {
  margin-right: 29px;
}
.blog-item-img {
  margin-bottom: 16px;
}
.blog-link-podcast {
}
.blog-link-video {
}
.blog-link-article {
}


.blog-item-date {
 margin-bottom: 8px;

  color: var(--secondary-text-color);

font-size: 14px;
font-weight: 400;
line-height: 1.5;
}
.blog-date-accent {
  font-weight: 700;
}
.blog-item-title {
margin-bottom: 8px;

  color: var(--title-text-color);

font-size: 20px;
font-weight: 700;
line-height: 1.5;
}
.blog-item-text {
margin-bottom: 16px;

font-size: 16px;
font-weight: 400;
line-height: 1.6;
}
.blog-item-link {
  color: var(--title-text-color);
  font-size: 16px;

font-weight: 700;
line-height: 1.6;
}
                                                                 /* SUBSCRIBE */
  .subscribe-section{
display: flex;
align-items: flex-end;
background-color: var(--secondary-bgn-color);
  }              

  .subscribe-position {
    margin-bottom: 60px;
    text-align: center;
  }
  .subscribe-pretitle-position {
    padding-top: 120px;
    text-align: center;
  }                         
  
  .subscribe-form-flexbox {
    display: flex;
    justify-content: center;
    margin-bottom: 180px;
  }
 .subscribe-btn {
border: 1px solid transparent;
border-radius: 4px;
padding: 0 40px;

color: var(--white-text-color);
background-image: var(--btn-gradient);
}             
  .subscribe-holder {
   margin-right: 24px;
   border-radius: 4px;
   border: 1px solid #D7DADD;

  display: flex;
  width: 422px;
  height: 52px;
  padding: 13px 272px 13px 16px;
  align-items: center;
  flex-shrink: 0;

    color: var(--gray-600);
    font-size: 16px;;
    font-weight: 400;
    line-height: 1.6;
  }
  /* .subscribe-box {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    
  } */
/* .img-box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
} */
                                             /* FOOTER */
  .footer-section {
padding-top: 80px;

background-color: var(--footer-bgn-color);
}
.footer-flexbox {
  display: flex;
  padding-bottom: 60px;
}
.footer-block-logo {
  margin-right: 80px;
}
.footer-logo {
  
}
.footer-logo-img {
  margin-bottom: 24px;
}
.footer-text{
margin-bottom: 38px;
max-width: 279px;

  color:var(--white-text-color);
  opacity: 0.6000000238418579;

  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
}

.footer-list {
  display: flex;
}
.footer-item:not(:last-child) {
  margin-right: 20px;
}
.footer-link {
}
.footer-link-img {
}
.footer-block-sitemap {
  margin-right: 79px;
}
.footer-sitemap {

}
.footer-subtitle {
margin-bottom: 12px;

  color:var(--white-text-color);

font-size: 16px;;
font-weight: 700;
line-height: 1.5;
letter-spacing: 1px;
text-transform: uppercase;
}
.footer-sitemap-item:not(:last-child) {
  margin-bottom: 8px;
}
.footer-block-course{
  margin-right: 79px;
}
.footer-course-item:not(:last-child) {
  margin-bottom: 8px;
}
.footer-block-contact {
  margin-right: 80px;
}
.footer-nav {
  font-style: inherit;
}
.footer-subtitle-link{
  color:var(--white-text-color);
  opacity: 0.6000000238418579;
font-family: 'Lato';
font-size: 16px;
font-weight: 400;
line-height: 1.6;
}

.footer-subtitle-link:not(:last-child) {
  margin-bottom: 8px;
}
.footer-signup.footer-subtitle {
  margin-bottom: 24px;
}
.footer-sitemap-list {

}

.footer-sitemap-link {
}

.footer-course-link {
}
.footer-contact {
}
.footer-nav {
}
.footer-nav-link {
}
.footer-signup {
}
.footer-signup-holder {
  display: flex;
  width: 286px;
  height: 36px;
  padding: 9px 12px;
  justify-content: center;
  align-items: flex-start;
  gap: 174px;
  flex-shrink: 0;

  border-radius: 4px;
border: 1px solid rgba(255, 255, 255, 0.20);
background: rgba(255, 255, 255, 0.12);
margin-bottom: 12px;


  color: var(--white-text-color);
  opacity: 0.6000000238418579;

font-size: 12px;
font-weight: 400;
line-height: 1.5;
}
.footer-signup-text {
max-width: 286px;

color: var(--white-text-color);

font-size: 10px;
font-weight: 400;
line-height: 1.5;
}
.footer-textend-section {
background-color:rgba(255, 255, 255, 0.050);
}
.footer-textend {
display: flex;
flex-direction: row;
padding: 20px 0;


  color: var(--white-text-color);
font-size: 12px;
font-weight: 400;
line-height: 1.5;
}
.footer-textend-box{
  display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
}
.footer-textend-link {
  color:var(--white-text-color);
  opacity: 0.6000000238418579;

font-size: 14px;
font-weight: 700;
line-height: 1.5;
}                                           